h2 {
    color: #d3d3c3;
    font-family: 'Days One', sans-serif;
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 10px;
    text-shadow: 3px 3px black;
    width: 990px;
}

.parallax {
    background-image: url(assets/img/splash.png);
    min-height: 500px; 
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#scroll-nav {
    background-color: #171717;
    border: 1px solid #515151;
    border-bottom-color: #888888;
    border-top-color: #333333;
    border-radius: 25px 0 0 25px;
    height: 150px;
    padding-top: 20px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 75px;
    z-index: 1;
}

#employment .fa {
    color:#f0f8ff;
    font-size: 50px;
    text-align: center;
    width: 50px;
}

#employment h5, #employment li  {
    width: 50px;
    margin: 0 auto;
    text-align: center;
}

#employment h5 {
    margin-bottom: 5px;
}

#splash {
    background-color: #000000;
}

#logo-container {
    border-bottom: 5px outset #2a2a2a;
    margin-top: -100px;
}

#logo {
    background-color: #171717;
    border-radius: 25px;
    border-right-style: 1px solid red;
    display: inline-block;
    padding: 40px 30px 35px 30px;
    text-align: center;
    line-height: 28px;
}

#logo h1 {
    color: #f0f8ff;
    font-family: 'Days One', sans-serif;
    font-size: 48px;
    text-shadow: 3px 3px black;
}

#logo span {
    font-size: 26px;
}

#intro {
    background: linear-gradient(to bottom right, #000000, #333333);
    font-size: 2em;
    border-bottom-width: 10px;
    border-bottom-style: outset;
    border-bottom-color: #515151;
    height: 250px;
    margin: 0 auto;
    padding: 40px 0;
}

#about {
    color: #d3d3c3;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    max-width: 990px;
    text-shadow: 2px 2px 4px #000000;
}

#about p {
    width: 100%;
}

#about p:first-child {
    color: #ffffff;
    font-size: .9em;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}

#about p:last-child {
    font-size: .5em;
    line-height: 2em;
    padding-left: 15px;
}

#about a {
    color: orangered;
    text-decoration: none;
}

#construction {
    color: #d3d3c3;
    font-size: 2em;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#construction p:last-child {
    color: orangered;
    font-size: 2.5em;
    font-family: 'Days One', sans-serif;
    line-height: 1em;
    text-shadow: 3px 3px black;
}

#message {
    padding: 40px;
    line-height: .5em;
    margin: 0 auto;
    max-width: 600px;
}